.chess-page {
  position: initial;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  .board {
    color: #ffd700;
    font-size: 1.5rem;
    font-family: 'Coolvetica', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
      .chess-btn {
        cursor: pointer;
        background-color: #022c4360;
        font-size: 1.5rem;
        font-family: 'La Belle Aurore', 'Lucida Sans Regular', 'Lucida Grande',
          'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #ffd700;
        width: 100px;
        margin-top: 0px;
        margin-right: 15px;
        margin-left: 10px;
        margin-bottom: 10px;

        border: 6px ridge #022c4360;
      }
      .chess-btn:hover {
        border: 6px ridge #ffd700;
      }
      .chess-btn:focus {
        background-color: #ffd700;
        color: #022c43;
        border: 6px ridge #022c43;
      }
    

    .bordered {
      border: 6px ridge #022c4360;
    }
    .onCheck {
      border: 6px ridge red;
    }
  }
}
