.chess-page {
  position: initial;
  height: 100%;
  h1.page-title {
    margin-left: 100px;
  }
  .board {
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100%;

    .bordered {
      border: 6px solid red;
    }
  }
  .onCheck {
    border: 6px solid red;
  }
  .nonCheck {
    border: none;
  }
}
